<!doctype html>
<html>

<body>
    <p>Dear {{ user.username }},</p>
    <p>
        To reset your password
        <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">
            <!--By default, url_for() generates relative URLs containing only the path. 
            In web pages, browsers reconstruct the full URL using the current page's address. 
            Emails lack this context, requiring full URLs. 
            Passing _external=True generates complete URLs like http://localhost:5000/user/susan or the deployed domain.-->
            click here
        </a>.
    </p>
    <p>Alternatively, you can paste the following link in your browser's address bar:</p>
    <p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>
    <p>If you have not requested a password reset simply ignore this message.</p>
    <p>Sincerely,</p>
    <p>The Microblog Team</p>
</body>

</html>